.dashboard-child {
    position: absolute;
    top: 11px;
    left: 25px;
    background-color: #d9d9d9;
    width: 1395px;
    height: 104px;
}
.user-username {
    position: absolute;
    top: 37px;
    left: 40px;
    font-size: 20px;
    display: inline-block;
    width: 170px;
    height: 46px;
}
.dashboard1 {
    position: absolute;
    top: 40px;
    left: 631px;
    font-weight: 600;
    display: inline-block;
    width: 184px;
    height: 46px;
}
.dashboard-item {
    position: absolute;
    top: 38px;
    left: 1354px;
    width: 46px;
    height: 45px;
}
.sensor-system {
    position: absolute;
    top: 161px;
    left: 25px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    width: 223px;
    height: 63px;
}
.text {
    flex: 1;
    position: relative;
    line-height: 130%;
    font-weight: 600;
}
.content {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 12px;
}
.cell {
    align-self: stretch;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.06);
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.row {
    align-self: stretch;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.table {
    position: absolute;
    top: 234px;
    left: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    background-color: #d9d9d9;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 1395px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 0.9;
    text-align: center;
    font-size: 25px;
}
.dashboard-inner {
    position: absolute;
    top: 307px;
    left: 205px;
    background-color: #d9d9d9;
    width: 105px;
    height: 35px;
}
.rectangle-div {
    position: absolute;
    top: 535px;
    left: 165px;
    background-color: #d9d9d9;
    width: 105px;
    height: 35px;
}
.dashboard-child1 {
    position: absolute;
    top: 535px;
    left: 25px;
    background-color: #d9d9d9;
    width: 105px;
    height: 35px;
}
.dashboard-child2 {
    position: absolute;
    top: 307px;
    left: 1135px;
    background-color: #d9d9d9;
    width: 105px;
    height: 35px;
}
.alarm {
    position: absolute;
    top: 467px;
    left: 8px;
    line-height: 130%;
    font-weight: 600;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 120px;
    height: 36px;
}
.button-open-links-navigate {
    position: relative;
    width: 135px;
    height: 83px;
}
.another-user {
    position: absolute;
    top: 475px;
    left: 1094px;
    line-height: 100%;
    display: inline-block;
    font-family: Lato;
    color: #fff;
    width: 188px;
    height: 45px;
}
.dashboard-child3 {
    position: absolute;
    top: 529px;
    left: 1012px;
    background-color: #d9d9d9;
    width: 348px;
    height: 41px;
}
.on {
    position: absolute;
    top: 536px;
    left: 53px;
    line-height: 100%;
    display: inline-block;
    font-family: Lato;
    width: 72px;
    height: 26px;
}
.off {
    position: absolute;
    top: 536px;
    left: 193px;
    line-height: 100%;
    display: inline-block;
    font-family: Lato;
    width: 65px;
    height: 7px;
}
.managecreate-new-user {
    position: absolute;
    top: 532px;
    left: 1012px;
    line-height: 100%;
    display: inline-block;
    font-family: Lato;
    width: 358px;
    height: 38px;
}
.dashboard-child4 {
    position: absolute;
    top: 617px;
    left: 990px;
    background-color: #d9d9d9;
    width: 391px;
    height: 337px;
}
.dashboard {
    width: 100%;
    position: relative;
    background-color: #333;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: 30px;
    color: #000;
    font-family: Inter;
}

